/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* @import url('https://fonts.googleapis.com/css?family=Merriweather:900|Jost&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Jost&family=Jost&display=swap'); */
@import url('https://indestructibletype.com/fonts/Jost.css');
@import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');

.aa-suggestion {
  border: 1px solid #c1c1c1;
  background: #fafafa;
}

.clear_style {
  all: initial;
}

.full_width {
  width: 100%;
}

.no_border > tbody > tr, .no_border > tbody > tr > td {
  border: 0;
}

.card {
  width: 80%;
  padding: 0 10px 0 10px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card2 {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  display: flex;
  flex-direction: column;
}

.cardContainer_qNfC {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 1.5px 3px 0 rgba(0,0,0,.15);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border,box-shadow;
}

.cardContainer_qNfC:hover {
  border-color: var(--ifm-color-secondary-dark);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
}


.support-frame {
  width: 100%;
  height: 500px;
  border: 0;
}


.not-heading h4 {
  margin-bottom: 0px;
  /* font-family: "Jost"; */
  font-size: 16px;
}

/* .alert--warning {
  background-color: var(--ifm-color-warning-dark);
} */

/* .alert--danger {
  --ifm-alert-background-color: #fa383e;
  --ifm-alert-border-color:  #fa383e;
}

.alert--danger h5 {
  color: var(--ifm-color-white);
} */

/* .alert--info h5 {
  color: var(--ifm-color-white);
} */

/* .alert--success h5 {
  color: var(--ifm-color-white);
}

.alert--success {
  color: #0c243c;
}

.alert--success a {
  color: #0c243c;
} */

/* .alert--primary h2 {
  color: var(--ifm-color-white);
} */

.alert--primary h3 {
  /* color: var(--ifm-color-white); */
  margin-bottom: 0px;
}

/* .alert--secondary h5 {
  color: var(--note-title-color);
} */

.alert--secondary .alert--secondary{
  border-width: 0px;
  box-shadow: none;

}

.alert--secondary .alert--success{
  border-width: 0px;
  box-shadow: none;

}

.alert--secondary .alert--warning{
  border-width: 0px;
  box-shadow: none;

}

.alert--secondary h2 {
  font-size: 28px;
}

.override-info {
  --ifm-alert-background-color: var( --ifm-color-secondary-contrast-background ) !important;
  --ifm-alert-border-color: var(--ifm-color-secondary-dark) !important;
}

/* .alert--secondary {
  color: var(--secondary-custom);
} */

/* .alert--secondary a {
  color: var(--secondary-custom)
} */

.button--secondary {
  --ifm-button-border-color: var(--button-card);
}

.button--secondary:not(.button--outline) {
    --ifm-button-background-color: var(--button-card);
  }

.button--secondary:not(.button--outline):hover {
      --ifm-button-background-color: var(--ifm-color-secondary-dark);
      --ifm-button-border-color: var(--ifm-color-secondary-dark);
    }

/* .badge--secondary {
  color: var(--secondary-custom)
} */

.badge--danger {
  --ifm-badge-background-color: #F6594C;
  --ifm-badge-border-color: #F6594C;
}

html[data-theme='light'] {
  --ifm-link-color: #5784b1;
  --ifm-font-color-base: #113355;
  --ifm-heading-color: #113355;
  --ifm-color-secondary: #ebedf0;
  --ifm-color-secondary-dark: rgb(212, 213, 216);
  --ifm-color-secondary-darker: rgb(200, 201, 204);
  --ifm-color-secondary-darkest: rgb(164, 166, 168);
  --ifm-color-secondary-light: rgb(238, 240, 242);
  --ifm-color-secondary-lighter: rgb(241, 242, 245);
  --ifm-color-secondary-lightest: rgb(245, 246, 248);
  --ifm-color-primary: #113355;
  --ifm-color-primary-dark: #0f2e4d;
  --ifm-color-primary-darker: #0e2b48;
  --ifm-color-primary-darkest: #0c243c;
  --ifm-color-primary-light: #13385e;
  --ifm-color-primary-lighter: #143b62;
  --ifm-color-primary-lightest: #16426f;
  --ifm-button-color: var(--ifm-font-color-base-inverse);
  --ifm-font-color-base-inverse: var(--ifm-color-content-inverse);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-0);
  --ifm-color-emphasis-0: var(--ifm-color-gray-0);
  --ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-white: #fff;
  --ifm-color-danger: var(--ifm-color-danger-darker);
  --note-title-color: #113355;
  --row-1-color: var(--ifm-color-white);
  --row-2-color: #f5f6f7;
  --row-title-color: #e1e2e4;
  --box-color: lightgrey;
  --secondary-custom: #1c1e21;
  --ra-color-text-dark: #1c1e21;
  --button-card: #ebedf0;
}

html[data-theme='dark'] {
  --ifm-link-color: #c3c7ff;
  --ifm-menu-color-active: #eee;
  --ifm-navbar-link-hover-color: #eee;
  --ifm-menu-color: #ccc;
  /*--ifm-color-primary: #eee;*/
  --ifm-button-color: #fff;
  --ifm-heading-color: #ffffff;
  --ifm-button-color: var(--ifm-font-color-base-inverse);
  --note-title-color: #ffffff;
  --row-1-color: #313131;
  --row-2-color: #242424;
  --row-title-color: #161616;
  --box-color: #606770;
  --ifm-color-secondary: #373542;
  --secondary-custom: #ffffff;
  --ra-color-text-dark:  #5ca0ff;
  --button-card: #717171;
}

/*.navbar__logo {*/
/*  width: 60%;*/
/*  height: 60%;*/
/*}*/

/* This was overrided to put space between feature cards in the home page. MAC */
.row .col.col--offset-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 20px;
}

/* .card {
  border: #ececec;
  border-style: solid;
  border-width: thin;
} */
/* ---My tweeks end here: MAC-- */

:root {
  --ifm-heading-font-family: Jost;
  --ifm-font-family-base: Jost;
  --ifm-font-size-base: 16px;
  --ifm-font-family-monospace: Fira Code, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  /*---- Navy ----*/

  /*---- Magenta ----*/
  --ifm-color-danger: #ff3366;
  --ifm-color-danger-dark: #ff144f;
  --ifm-color-danger-darker: #ff0544;
  --ifm-color-danger-darkest: #d60036;
  --ifm-color-danger-light: #ff527d;
  --ifm-color-danger-lighter: #ff6188;
  --ifm-color-danger-lightest: #ff8fab;
  /*---- Blue ----*/
  --ifm-color-info: #2288ee;
  --ifm-color-info-dark: #117ae3;
  --ifm-color-info-darker: #1174d7;
  --ifm-color-info-darkest: #0e5fb1;
  --ifm-color-info-light: #3b96f0;
  --ifm-color-info-lighter: #489cf1;
  --ifm-color-info-lightest: #6eb1f4;
  /*---- Teal ----*/
  --ifm-color-success: #11bb99;
  --ifm-color-success-dark: #0fa88a;
  --ifm-color-success-darker: #0e9f82;
  --ifm-color-success-darkest: #0c836b;
  --ifm-color-success-light: #13cea8;
  --ifm-color-success-lighter: #14d7b0;
  --ifm-color-success-lightest: #1febc2;
  /*---- Orange Text ----*/
  --ifm-color-warning: #ffa300;
  --ifm-color-warning-dark: #e69300;
  --ifm-color-warning-darker: #d98b00;
  --ifm-color-warning-darkest: #b37200;
  --ifm-color-warning-light: #ffac1a;
  --ifm-color-warning-lighter: #ffb126;
  --ifm-color-warning-lightest: #ffbf4d;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: #2c2c2c;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


/*---- Footer Style ----*/
.footer--dark {
  background-color: #113355!important;
}

.footer__link-item {
  color: #c3c7ff;
}

.footer__link-item:hover {
  color: #c3c7ff;
}

/*---- Fonts Family  ----*/
h1, h2, h3, h4, h5{
  /* font-family: 'Jost', sans-serif; */
  font-weight: 600;
}

.hero__subtitle {
  font-family: Jost;
}

code { font-family: Fira Code, monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: Fira Code VF, monospace; }
}

.small_text {
  font-size: xx-small;
}

.text-color-pink {
  color: #FFC7D5;
}

/* p, td, th, li {
  font-family: 'Jost', sans-serif;
} */
/*---- Fonts Family  ----*/


/*---- Admonition ----*/
/* .admonition-important h5 {
  color: white!important;
}

.admonition-important p {
  color: white!important;
} */

/* .admonition-note h5 {
  color: #113355!important;
}

.admonition-note p {
  color: #113355!important;
} */
/*---- Admonition ----*/

/* Added by Maurice: testing responsiveness for tables and images */


.framedPage {
  width: 100%;
  height: 500px;
  border-width: 1px;
}

.box {
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: var(--box-color);
  border-style: solid;
  font-family: 'Jost', sans-serif;
}

.box h3 {
  font-size: 1.5rem;
  font-weight: 100;
  
}

.table-row-1 {
  border-color: var(--box-color);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: var(--row-1-color);
  padding: 1%;
  align-items: center;
  color: var(--ifm-font-color-base);
}

.table-row-2 {
  border-color: var(--box-color);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: var(--row-2-color);
  padding: 1%;
  align-items: center;
  color: var(--ifm-font-color-base);
}

.table-row-title {
  border-color: var(--box-color);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: var(--row-title-color);
  padding: 1%;
  align-items: center;
}

.table-row-1 p {
  margin: auto;
}

.table-row-2 p {
  margin: auto;
}

.code-table-1 {
  background-color: var(--row-1-color);
  
}

.code-table-2 {
  background-color: var(--row-2-color);
}

.row .col.col--offset-1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 0px;
}

.img_title {
  width: 90%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_sizing {
  width: 80%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_sizing_extra_small {
  width: 30%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_sizing_50 {
  width: 50%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_sizing_small {
  width: 60%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_sizing_narrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_sizing_menu {
  width: 60%;  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img_card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo {
  width: 40%;
  height: 40%; 
  margin-left: auto; 
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.align-padding-center {
  padding: 20px 25% 5px 25%
}

@media (max-width: 700px) {
  .img_sizing {
    width: 100%;
  }
  .img_title {
    width: 80%;
  }
  .img_sizing_menu {
    width: 50%;
  }
}

@media (min-width: 700px) {
  .img_sizing_50 {
    width: 35%;
  }
  .img_sizing_menu {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .img_sizing_menu {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .img_title {
    width: 70%;
  }
}


